[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing = "*"

[dev-packages]
codecov = "*"
coverage = "*"
coveralls = "*"

[requires]
python_version = ">=3.4"
typing = { version = "*", markers = "python_version < '3.5'" }
